/* frontend/styles/RegisterForm.module.css */
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form div {
  margin-bottom: 15px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #0070f3; /* Color azul */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form button:hover {
  background-color: #005bb5; /* Color azul más oscuro al pasar el mouse */
}